nav {
  position: fixed;
  top: 0;
  z-index: 2; /* always stacked on top */
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
  padding: 1.5em;
  background-color: $blue;
  color: #fff;
}

.logo {
  font-family: $bungie;
}

.nav-links {
  margin-left: auto;

  button {
    background: none;
    border: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }

  .write-text {
    display: block;
    margin-top: 40px;
  }

  .animated-arrow {
    display: block;
    transform: rotate(90deg);
    margin-top: -10px;
    font-size: 50px;
    font-weight: 700;
    color: #5191a9;
    animation: 0.65s linear 1s infinite bounce;
  }
}

@keyframes bounce {
  from {
    transform: rotate(90deg) translateX(-10px);
  }
  to {
    transform: rotate(90deg) translateX(5px);
  }
}
