.new-tweet {
  padding: 1em;
  margin-bottom: 1em;

  textarea {
    display: block;
    width: 100%;
    border: none;
    border-bottom: solid 5px $black;
    padding: 0.25em 0;
    margin-bottom: 0.5em;
    background: none;
    font-weight: 700;
  }
}

input[type="submit"] {
  background: $blue;
  border: none;
  padding: 0.25em 0.5em;
  color: #fff;
  font-family: $bungie;
  font-size: 0.9em;

  &:disabled {
    background-color: $gray;
    color: $black;
  }
}

.counter {
  float: right;
  font-family: $bungie;
}

.counter-red {
  color: red;
}
