.tweet {
  padding: 1em;
  margin-bottom: 1em;
  border: 3px solid $black;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 10px 10px 0px 0px $gray;
    .tweet-username,
    .tweet-actions {
      visibility: visible;
      opacity: 1;
    }
  }
}

.tweet header {
  @extend %flex-align-center;
  flex-flow: row nowrap;
  width: 100%;

  img {
    width: 60px;
    height: auto;
    margin-right: 1em;
  }

  .tweet-username {
    @extend %hide-element-visibility;
    margin-left: auto;
    font-weight: 700;
    color: $gray;
    transition: opacity 0.2s ease-in-out;
  }
}

.tweet-body {
  font-size: 1.05em;
}

.tweet-body,
.tweet footer {
  padding: 0.5em 0.5em 0;
}

.tweet footer {
  @extend %flex-align-center;
  justify-content: space-between;
  border-top: 3px solid $black;
  font-size: 0.85em;
}

.tweet-actions {
  @extend %hide-element-visibility;
  transition: opacity 0.2s ease-in;

  button {
    @include button-generator(none, none, $blue);
  }

  button svg {
    width: 23px;
    height: 23px;
    margin-right: 0.3em;

    &:not(.feather-repeat):hover,
    &:focus {
      fill: $black;
    }

    &:hover,
    &:focus {
      stroke: $black;
    }
  }
}
