/* Utilities */

.fw-normal {
  font-weight: normal;
}

/* Placeholders */

%word-break-all {
  word-break: break-all;
}

%flex-align-center {
  display: flex;
  align-items: center;
}

%hide-element-visibility {
  visibility: hidden;
  opacity: 0;
}

/* Mixins */
@mixin button-generator($bg, $border, $color) {
  background: $bg;
  border: $border;
  color: $color;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    @if ($bg != none) {
      background: darken($bg, 15%);
    }
  }
}
